<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="GeneratedFilesFolderPath" value=""/>
        <add key="ReferencedAssembliesFolderPath" value=""/>
        <add key="AssembliesToAnalyzeFolderPath" value=""/>
        <add key="ProductIndex" value=""/>
    </appSettings>
</configuration>