<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSHTML5.Tools.CompatibilityAnalyzer.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <CSHTML5.Tools.CompatibilityAnalyzer.App.Properties.Settings>
            <setting name="OtherFoldersPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="CoreAssemblyPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="FeaturesAndEstimationsPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="MscorlibFolderPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SDKFolderPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SupportedElementsPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="XamlFilesToIgnore" serializeAs="String">
                <value/>
            </setting>
        </CSHTML5.Tools.CompatibilityAnalyzer.App.Properties.Settings>
    </userSettings>
</configuration>
